@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: top;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1351px;
  width: 75%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { padding: 41px 0 45px; }
h1 { width: calc(10% - 4px); }
.hambur { display: none; }
h1,
nav{ display: inline-block; }
.menu{ float: right; }
nav { width: calc(90% - 4px); }

.menu a {
  color: #a4a4a4;
  font-size: 13.5px;
  font-weight:bold;
  -webkit-transition:  color .5s ease;  
  -o-transition:  color .5s ease;
  transition:  color .5s ease;
  text-transform: uppercase;
}

.menu a:hover { color: #6895a8;}
.menu li { padding-left: 100px; }
.menu li:first-child { padding: 0 13px 0 0; }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner styling starts */
.banner {
  padding-bottom: 50px;
  background: linear-gradient(rgba(162,182,182,0.3), rgba(162,182,182,0.3)), url(../img/banner.png) center/cover no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(162,182,182,0.3)), to(rgba(162,182,182,0.3))), url(../img/banner.png) center/cover no-repeat;
  background: -o-linear-gradient(rgba(162,182,182,0.3), rgba(162,182,182,0.3)), url(../img/banner.png) center/cover no-repeat;
}

.banner-content { text-align: center; }

h2 {
  padding-top: 165px;
  color: #2a2e2d;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2 span { 
  padding-top: 5px; 
  display: block;
}

.banner p {
  padding: 20px 0 66px;
  color: #656b6b;
  font: italic bold 18px serif;
  word-spacing: 2px;
}

.btn {
  width: 6.5%;
  padding: 8px 10px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  background-color: #eaece9;
}

.btn figure:last-child {
  position: absolute;
  top: 40%;
  left: 42%;
}
/* banner styling ends */
/* featured styling starts */
h3 {
  padding: 43px 0 12px;
  color: #262626;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}

h3 + span {
  width: 27%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background-color: #262626;
  text-indent: -9999px;
}

.featured p {
  padding: 30px 0 50px;
  color: #656b6b;
  font-size: 16px;
  text-align: center;
  word-spacing: 3px;
}

.featured p span {
  padding-top: 5px; 
  display: block;
}

.featured li {
  width: calc(29% - 4px);
  height: 172px;
  margin: 0 6.5% 61px 0;
  overflow: hidden;
}

.featured li:nth-child(3n+3) { margin-right: 0; }

.featured li figure {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.featured li figure:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.modal {
  width: 75%;
  padding: .5% 15% ;
  display:none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
}

.close {
  padding: 5px 10px;
  border: 1px solid #6895a8;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  right:5%;
  color: #fff;
  font-family: sans-serif;
  font-size: 30px;
  -webkit-transition: background-color .5s ease;
  -o-transition: background-color .5s ease;
  transition: background-color .5s ease;
  cursor: pointer;
}

.close:hover { background-color: #6895a8; }
.display { display: block; }
/* featured styling ends */
/* team styling starts */
.team {
  padding-bottom: 78px;
  border-bottom: 1px solid #e7e7e7; 
  background-color: #f3f3f3;
}

.team h3{
  width: 20.5%;
  border-bottom: 3px solid #262626;
  margin: 0 auto;
}

.team p {
  width: 55%;
  padding: 26px 0 45px;
  margin: 0 auto;
  color: #656b6b;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  word-spacing: 3px;
}

.cards > li {
  width: calc(23.5% - 4px);
  padding: 15px 0 0 ;
  margin-right: 1.5%;
  background-color: #fff;
  box-shadow: 0px 1px 5px #cacaca;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  text-align: center;
}

.cards > li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.cards figure {
  width: 42%;
  margin: 0 auto;
}

.cards h4 {
  color: #262626;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.cards h4 + span {
  padding: 8px 0 8px;
  display: block;
  color: #262626;
  font: italic  15px serif;
  text-transform: capitalize;
  word-spacing: 2px;
}

.social li {  padding: 8px 22px 19px 0; }
/*team styling ends  */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  